.main-nav {
    padding-left: 80px;
    min-height: 70px;
}

.nav-logo-text, .nav-logo-text:hover {
    color: #00285F;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    width: 200px; 
}

.main-menu a, a:hover {
    color: #00285F;
}

.main-menu a.active {
    color: #00285F;
    font-weight: bold;
}